@font-face {
    font-family: KaushanScript-Regular;
    src: url(../fonts/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: PTSerif;
    src: url(../fonts/PTSerif-Regular.ttf);
} 
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Couture;
    src: url(../fonts/couture-bld.otf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: PTSerif;
}
.box__head {
    background-color: #c62314;
    /*height: 688px;*/
    background-image: url(../img/99dsjm2iaw_Medium_WW2122503.png);
    background-repeat: repeat ;
}
.container {
    width: 1011px;
    margin: 0 auto;        
}
.menu {
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 130px 0;
}
.logo  {
    font-family: KaushanScript-Regular;
    font-size: 60px;
    color: #fff;
}
.nav  li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}
.nav  li a:hover {
    color: white;
    background-color: rgb(19, 14, 39);
    border-radius: 5px;
    text-decoration: none;
}
ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    line-height: 22px;   
}
.text__content {
    width: 500px;
    margin-left: 20px;
}
.title {
    font-size: 80px;
    font-family: "Montserrat";
    color: rgb(19, 14, 39);
    font-weight: bold;
    line-height: 76px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;        
}    
.text__block {
    color: #fff;     
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding-bottom: 160px;        
}   
.services {
    background-color: #fff;
     
}
.container__services {
    width: 1011px;
    margin: 0 auto;   
}
.title__services {
    padding: 45px 0 100px 20px;    
    font-size: 50px;
    font-family: "Couture";
    color:rgb(19, 14, 39);
    text-align: left;
}
.blocks {
    display: flex;
    text-align: center;
    color:rgb(19, 14, 39);
    width: 1011px;
    justify-content: space-between;
    padding-left: 20px;
}
.item__block {    
    padding-bottom: 75px;
    text-align: center;
}
img {
    width: 140px;
    height: 140px;
}
.item__img {
   
}
.item__text {
    max-width: 180px;
    padding-top: 50px;    
    font-size: 20px;
    font-family: "PT Serif";
    color: rgb(22, 22, 22);
    line-height: 28px;
    text-align: center;
}
.story {
    display: flex;
    background-color: #130e27;
    align-items: center;
    color: #fff;
}
.container__story {
    display: flex;
    width: 1011px;
    margin: 0 auto;
    padding: 32px 0 32px 20px;
    justify-content: space-between;   
    
}
.story__text {
    max-width: 630px;
    font-size: 20px;    
    line-height: 26px;
    text-align: left;    
}    
.story__button  {    
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);  
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 70px;
    
}
.story__button:hover {
    background-color: #c62314;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

    


.pricing {
    background-color: #efefef;
}
.container__pricing {
    width: 1011px;
    margin: 0 auto;
}
.price__title {    
    font-size: 50px;
    font-family: "Montserrat";
    color: rgb(19, 14, 39);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 60px 0;
}
.block__pricing {
    display: flex;
    justify-content: space-between;
    padding: 0 0 65px 20px;
    
}
.item__pricing {
    background-color: #fff;
    min-width: 318px;
    padding: 38px 60px 16px;
    text-align: center;
    
}
.name__pricing {
    font-size: 22px;
    text-align: center;
    padding-bottom: 40px;    
}
.cost {
    font-size: 60px;
    font-family: "Montserrat";
    color: rgb(198, 35, 20);
    font-weight: bold;        
    text-align: center;
    text-transform: uppercase;
}
.text__pricing {
text-align: center;
padding: 35px 0 35px;
}    
.button a {
    min-width: 205px;
    min-height: 49px;
    background-color: rgb(19, 14, 39);
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;    
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-align: center;
}
.footer {
    display: flex;
    background-color: #130e27;
    align-items: center;
}
.block__footer {
    width: 1011px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
.copyrights {
    color: #fff;
}
.logo1{
    font-family: KaushanScript-Regular;
    font-size: 60px;
    color: #c62314;
}
span {
    color: #fff;
}
.orange {
    color: #c62314
}
