* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    background: rgb(5,61,59);
    background: linear-gradient(90deg, rgba(5,61,59,1) 0%, rgba(16,201,195,1) 100%); 
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.inner__box {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.item {
    display: flex;
    align-items: center;
    
}
i  {
    color: white;     
}
.inner__item {    
    text-align: left;
    padding-left: 25px;    
}
.number {
    color: white;
    font-size: 30px;
    padding-top: 15px;
}
.text {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 25px;
}
i.fa {
    font-size: 50px;
}

