*{
background-color: rgb(224, 217, 241);
font-family: Tahoma;
font-weight: 600;
font-size: 14px;
line-height: 20px;
box-sizing: border-box;
}
h1{
    height: 200px;
    background-color: rgb(216, 240, 128);
    background-image: url(../img/git.png);
    background-repeat: no-repeat;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    
}