* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.inner__box {
    text-align: center;
}
.icon {
    margin: 50px auto 50px;
}
h1 {
    max-width: 530px;
    margin: 50px auto 40px;
    font-weight: normal;
    line-height: 45px;
}
i.fa {
    margin: 20px auto 20px;
    font-size: 50px;
    color: #5EB6C4;
    margin: 0 60px;
}
p {
    max-width: 780px;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
}

