/* ОбЪявление переменных с присвоением значения в 15px и цвета */
:root {
    --gutter: 15px;
    --bg: rgb(153, 190, 138);
}
/*  Наследование строки безопасности от html для элементов */
*, *:before, *:after {
    box-sizing: inherit;
}
/*  Строка безопасности отступов для блоков */
html {
    box-sizing: border-box;
    font-size: 18px;
}
/* Строка безопасности отступов и позиционирования для тегов*/
body,p,h1,h2,h3,h4,ul,ol{
    margin: 0;
    padding: 0;
} 
.header {
    background-color: rgb(182, 182, 182);
}
/*  margin: 0 auto выравнивание контейнера по цвету по центру */
.container {
    background-color: rgb(172, 172, 172);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Позиционирование элементов в родительском блоке */
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Селектор для применения родительского стиля, margin: 0 auto - выравнивание child-блоков по центру */
.row > div {
     padding: 15px;
     margin: 0 auto;
     background-color: var(--bg);;
     border: 1px rgb(94, 94, 94) solid;
     border-radius: 10px;     
}
/* Условия независимо от размеров экрана */
/* Для 12и колонок */
.col-1 {
    width: calc(8.33% - var(--gutter)); 
}

/* Для 6и колонок */
.col-2 {
    width: calc(16.66% - var(--gutter));
}

/* Для 4х колонок */
.col-3 {
    width: calc(25% - var(--gutter));    
}

/* Для 3х колонок */
.col-4 {
    width: calc(33.33% - var(--gutter));
}

/* Для колонки пропорцией 5/12 */
.col-5 {
    width: calc(41.66% - var(--gutter));
}

/* Для 2х колонок */
.col-6 {
    width: calc(50% - var(--gutter));
}

/* Для колонки пропорцией 7/12 */
.col-7 {
    width: calc(58.33% - var(--gutter));
}

/* Для колонки пропорцией 8/12 */
.col-8 {
    width: calc(66.66% - var(--gutter));
}

/* Для колонки пропорцией 9/12 */
.col-9 {
    width: calc(75% - var(--gutter));
}

/* Для колонки пропорцией 10/12 */
.col-10 {
    width: calc(83.33% - var(--gutter));
}

/* Для колонки пропорцией 11/12 */
.col-11 {
    width: calc(91.66% - var(--gutter));
}

/* Для одной колоноки */
.col-12 {
    width: calc(100% - var(--gutter));
}



/* Писать медиазапросы после основных стилей! */
