/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
/* Отступы */
/* По другому работают для строчного объекта*/

/* Внутренние */
/*
padding
Внутренний отступ элемента
При указании поля в процентах, значение считается 
от ширины родителя элемента.
Свойство не наследуется.

padding: со_всех_сторон;
padding: сверху справа снизу слева;
padding: сверху_снизу справа_слева;
padding: сверху справа_слева снизу;

*/

/* Внешние */
/*
margin
Внешний отступ элемента
При указании поля в процентах, значение 
считается от ширины родителя элемента.
Свойство не наследуется.
Значение может быть как положительным, 
так и отрицательным числом.

margin: со_всех_сторон;
margin: сверху справа снизу слева;
margin: сверху_снизу справа_слева;
margin: сверху справа_слева снизу;
*/

.block {
	background-color: green;
	color: #fff;
	font-size: 30px;
	margin: 50px;
	padding: 30px;
    
}
.inline {
	background-color: #644579;
	color: #fff;
	font-size: 30px;
	max-width: 500px;
	padding: 50px;
	display: block;
}
.image {
	width: 50%;
	border: 1px solid black;
}
.block__2 {
	background-color: #77608d;
	color: #fff;
	font-size: 50px;
	padding: 50px;
}
.block__3 {
	background-color: #794f45;
	padding: 50px;
	color: #fff;
	font-size: 50px;
	padding: 50px;
}

/* НЕ работают для строчного объекта*/
/*
width
Устанавливает ширину блочных тегов и блочно-строчных
Свойство не наследуется.
width:100px;
width:10%;
*/

.block {
	/* width: 500px; */
}

/*
box-sizing
Применяется для изменения алгоритма расчета ширины 
и высоты элемента. 
Свойство наследуется.
content-box - Основывается на стандартах CSS, при этом 
свойства width и height задают ширину и высоту контента
 и не включают в себя значения отступов, полей и границ.
border-box - Свойства width и height включают в себя 
значения полей и границ, но не отступов (margin). Эта модель используется браузером Internet Exporer в режиме несовместимости.
padding-box - Свойства width и height включают в себя
 значения полей, но не отступов (margin) и границ (border). 

*/

/*
 Центрирование объекта с помощью  margin со значениями auto:last-child
 1) Объект должен быть блочным
 2) Объект должен быть ограничен по ширине, быть уже чем родитель
 3) margin: 0px auto;
*/

.block {
	/* margin: 0px auto; */
}

/*
max-width
Устанавливает максимальную ширину блочных 
и блочно-строчных тегов

min-width
Устанавливает минимальную ширину блочных 
и блочно-строчных тегов
*/

.block {
	/*
	max-width: 700px;
	margin: 0px auto;
	*/
}

/*
height:
Устанавливает высоту блочных и блочно-строчных тегов
Свойство не наследуется.
height:100px;
height:10%;

min-height
Свойство не наследуется.

max-height
Свойство не наследуется.
*/

.block {
	/* height: 500px; */
}

/*
overflow 
Управляет отображением содержания блочного элемента
visible - Отображается все содержание элемента, даже за пределами установленной высоты и ширины. 
hidden - Отображается только область внутри элемента, остальное будет скрыто.
scroll - Всегда добавляются полосы прокрутки.
auto - Полосы прокрутки добавляются только при необходимости.
*/

.block {
	/* overflow: hidden; */
}

/*
display:
Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.
Свойство не наследуется.

block - Элемент показывается как блочный. Применение этого значения для встроенных элементов, например тега <span>, заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. 											
inline - Элемент отображается как встроенный. Использование блочных тегов, таких как <div> и <p>, автоматически создает перенос и показывает содержимое этих тегов с новой строки. Значение inline отменяет эту особенность, поэтому содержимое блочных элементов начинается с того места, где окончился предыдущий элемент. 											
inline - block - Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы (вроде тега <img>). При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как встроенный. 											
none - Временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было. 
*/

.link {
	font-size: 80px;
	color: red;
	margin: 0px 0px 100px 0px;
	/* По умолчанию */
	display: inline;
    background-color: black;
}
.link1 {
	font-size: 180px;
	color: rgb(255, 255, 255);
	margin: 0px 0px 0px 0px;	
	display: inline;
    background-color: rgb(0, 0, 0);
}
.header {
	/* По умолчанию */
	display: block;
}
.image {
	/* По умолчанию */
	display: inline-block;
    margin: 0 50px 50px 0;
}
.text {
	/* display: none; */
	font-size: 50px;
}
.content {

}
.Lorem {
    background-color: rgb(255, 1, 1);
}
.privet {
    display: block;
}
.block8 {
    
    
}
.block7 {
    display: inline-block;
    background-color: rgb(248, 4, 4);
    max-width: 200px;
    max-height: 200px;
    padding: 15px;
    overflow: auto;
}
.link3 {
    display: inline-block;
    margin-bottom: 30px;
    background-color: rgb(90, 243, 136);
}
.paragraf {
    display: inline-block;
    padding: 10px;
    max-width: 100px;
    margin-left: 30px;
    background-color: #794f45;
    color: #fff;
}
.owerflow {
    padding: 30px;
    background-color: rgb(225, 0, 255);
}
.owerflow1 {
    padding: 30px;
    margin: -30px 0 0 0;
    background-color: rgb(0, 255, 98);
}
.text__7 {
    max-height: 200px;
    overflow: auto;
    background-color: rgb(255, 0, 0);
    display: block;
}

