*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 20px; /* по умолчанию */
}
body {
    
	line-height: 1;
	font-family: "Roboto"; 	    
}
.wrapper {
    min-height: 100%;
    padding: 80px;
}
.block {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;
    
}
.block__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
     
    /*transform: translate(-50%, 0%);*/
    transform: rotate(15deg);
  

  /*  position: relative;
    top: 5%;
    left: 5%;*/
}
.block__item_margin {
    margin-top: 40px;
}
.block__item_margin-bottom {
    margin-bottom: 40px;
}
/*[class*="__container"] {
    width: 800px;
    margin: 0px auto;
}*/
.block2 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;
    
}

.block2__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
     
    /*transform: translate(-50%, 0%);*/
    transform: rotateY(50deg);
    transition: all 0.8s ease 0s;
}
.block2:hover .block2__item{
    transform: rotateY(0deg);
}
.block3 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
}

.block3__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
     
    /*transform: translate(-50%, 0%);*/
    transform: skew(-10deg);
    transition: all 0.99s ease 0s;
}
.block3:hover .block3__item{
    transform: skew(0deg);
}
.block4 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
}
.block4__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
     
    /*transform: translate(-50%, 0%);*/
    transform: rotate(15deg);
    transform-origin: top left;
    transition: all 0.8s ease 0s;
}
.block4:hover .block4__item {
    transform: rotate(0deg);
}
.block5 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
    perspective: 600px;
    
}
.block5__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #fff;     
    transform: rotateX(45deg);    
    transition: all 0.8s ease 0s;
}
.block5:hover .block5__item {
    transform: rotate(0deg);
}
.block6 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
    perspective: 600px;
    transform-style: preserve-3d;
}
.block6__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #fff;     
    transform: rotateY(45deg);    
    transition: all 0.6s ease 0s;
    
}
.block6:hover .block6__item {
    transform: rotate(0deg);
}


.block7 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
    perspective: 600px;
    transform-style: preserve-3d;
}
.block7__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #fff;      
    transform:  translate3d(0px, 0px, 0px);     
    transition: all 0.6s ease 0s;    
}
.block7:hover .block7__item {
    transform: translate3D(20px, 20px, 50px);
}


/*---scale3d---*/
.block8 {
    background-color: rgba(173, 173, 173, 0.562);    
    height: 200px;
    width: 200px;    
    perspective-origin: center;
	perspective: 800px;
    transform-style: preserve-3d;
}
.block8__item {
    background-color: rgb(81, 211, 120);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #fff;        
    transform:  scale3d(1, 1, 1);     
    transition: all 0.6s ease 0s;    
}
.block8:hover .block8__item {
    transform: scale3d(0.7, 0.7, 0.7);
}


/*---flip---*/

.flip__body {
	position: relative;
	width: 200px;
	height: 200px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}
.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: rgb(81, 211, 120);
    color: rgba(46, 24, 18, 0.5);
    font-weight: 900;
	backface-visibility: hidden;
}
.flip__back {
	transform: rotateY(-180deg);
	background-color: rgba(46, 24, 18, 0.5);
    color: rgb(81, 211, 120);
    font-weight: 900;
}

.flip:hover .flip__body {
	transform: rotateY(-180deg);
}
.menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 223, 223, 0.45);
    padding: 50px;
    overflow: auto;
    transform: translate(0px, -100%);
    transition: all 0.3s ease 0s;
}
.menu__item:not(:last-child) {
    margin: 0 0 20px 0;
}
.wrapper:hover .menu__body {
    transform: translate(0px, 0px);
}
.menu__list {
    display: flex;
    align-content: space-between;
}

