/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
    
}
html {
	font-size: 16px; /* по умолчанию */
}
body {    
	line-height: 1;
    color: #4B4B4B;
    font-family: "Roboto";
    background-color: #F5F5F5;  
		    
}
.wrapper {    
    min-height: 100%; 
    overflow: hidden;
    display: flex; 
    flex-direction: column;  
}
.main {
    flex-grow: 1;
}
.header {
    background-color: #5D62B5;
    padding: 15px;
}
.footer {
    background-color: #5D62B5;
    padding: 15px;
}
[class*="__container"] {
    max-width: 1020px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0px 15px;
}
.promise {
    padding: 50px 0;
}

.promise__header {
    margin: 0px 0px 68px 0px;
}
.header-title *:not(:last-child) {
    margin: 0px 0px 33px 0px;
}


.header-title__lable {
    background: url(../img/Overline-Mark.svg) 0px -2px no-repeat;
    color: #5D62B5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    line-height: 2;
    padding: 0px 0px 0px 35px;
}
.header-title__lable_white {
    color: #fff;
    background: url(../img/Overline-Mark-w.svg) 0px -2px no-repeat;
}
.header-title__item {
    font-weight: 900;
    font-size: 36px;
    color: #000;
    line-height: 1.16;
}
.header-title__item_white {
    color: #fff;
}
.promise__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -12px;
    row-gap: 23px;
}
.promise__item {
    flex: 1 1 33.333%;
    padding: 0px 12px;
    min-width: 260px;   
}
.item-promise {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}
.item-promise__icon {
    flex: 0 0 63px;
}
.item-promise__body {
   
}

.item-promise__title:not(:last-child) {
    margin: 0px 0px 20px 0px;
}
.item-title {
    font-size: 19px;
    font-weight: 900;
    color: #F2726F;
    margin: 0px 0px 20px 0px;
    line-height: 1.368;
}
.item-promise__text {
    font-weight: 400;
    letter-spacing: 0.15;
    line-height: 1.5;
}
.services {
    padding: 100px 0px 112px 0px;
    background: url(../img/Blob21.png) right -490px no-repeat;
    overflow: hidden;
    
 }
 .servises__header {
    margin: 0px 0px 74px 0px;
 }
.services__items {
    display: flex;
    row-gap: 24px;
    flex-wrap: wrap;
    margin: 0px -12px;
}
.services__items:not(:last-child) {
    margin: 0px 0px 66px 0px;
}
.services__item {
    flex: 1 1 33.333%;
    padding: 0px 12px;
    min-width: 300px;
}
.item-services {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px 44px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    
}
.item-services:hover {
    box-shadow: 0px 15px 24px #26262620;
    box-shadow: 0px 8px 16px #26262624;
}
.item-services__icon:not(:last-child) {
    margin: 0px 0px 33px 0px;    
}
.item-services__icon {
    flex: 0 0 63px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.item-services__icon img {
    max-width: 100%;
    max-height: 63px;
}
.services__container {
    display: flex;
    flex-direction: column;
    
}
.services__button {
    align-self: center;
    padding: 12px 25px;
    text-align: center;
    border-radius: 8px;
    background: #F2726F;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.15px;    
}
.services__button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.247);
}
.item-service__link {
    color: #F2726F;
}
.item-services__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
}
.item-services__text {
    flex: 1 1 auto;
}
.impact {
    background-color: #2AB1AD;
    padding: 0px 0px 212px 0px;
    position: relative;
}
.impact__container {
    position: relative;    
}
.impact__container::before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    right: 50%;
    transform: translate(88%, 0px);
    width: 68%;
    height: 100%;
    background: url(../img/Blob2.png) 0 0 / 100% no-repeat;
}
.impact__body {
    display: flex;
    margin: 0px -15px;
    position: relative;
}
.impact__body:not(:last-child) {
    margin-bottom: 80px;
    
}
.impact__content {
    align-self: flex-end;
    flex: 0 0 50%;
    padding: 20px 15px 0px 15px;

}
.impact__header {
    max-width: 420px;
}
.header-title {
}
.header-title_white {
}
.header-title__lable {
}
.header-title__lable_white {
}
.header-title__item {
}
.header-title__item_white {
}
.impact__image {
    margin: -7.62% 0px 0px 0px;
    flex: 0 0 50%;
    padding: 0px 15px;
}
.impact__image img {
    max-width: 100%;
    border-radius: 40px;
}
.impact__body {
}
.impact__content {
}
.impact__header {
}
.header-title {
}
.header-title_white {
}
.header-title__lable {
}
.header-title__lable_white {
}
.header-title__item {
}
.header-title__item_white {
}
.impact__image {
}
.impact__items {
    margin: 0px -12px;
    flex-wrap: wrap;
    display: flex;
    row-gap: 24px;
    align-items: flex-start;   
}
.impact__item {
    padding: 0px 12px;
    flex: 0 1 25%;    
}
.item-impact {
    display: flex; 
    column-gap: 11px;
    align-items: flex-start;    
}
.item-impact__icon {
    flex: 0 0 76px;
}
.item-impact__body {
    align-self: center;
}
.item-impact__value {
    color: #fff;
    font-size: 36px;
    line-height: 1.166;
    font-weight: 900;
}
.item-impact__value:not(:last-child) {
    margin: 0px 0px 3px 0px;
}
.item-impact__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.15;
    color: #5D62B5;
}










