/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;  
}
html {
	font-size: 16px; /* по умолчанию */
}
body {    
	line-height: 1;	
    background: rgb(136, 98, 98);	    
}
.wrapper {    
    min-height: 100%; 
    padding: 20px;  
}
[class*="__container"] {
max-width: 1020px;
box-sizing: content-box;
margin: 0 auto;
padding: 0px 15px;
}
.header {
}
.main {
    margin: 0px 0px 100px 0px;
}
.main__form {
}
.form {
}
.form__line {
    
   
}
.form__line:not(:last-child) {
    margin: 0px 0px 20px 0px;
   
}
.form__lable {
    display: block;
    margin: 0px 0px 20px 0px;
}
.form__input {
    height: 30px;
    padding:  0 10px;
    width: 100%;
}
.form__button {
    padding: 10px 15px;
    cursor: pointer;
}
.form__line {
}




.checkbox {
    position: relative;
}
.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; 
}
.checkbox__input:focus + .checkbox__lable {
    outline: 1px solid #fff;   
}
.checkbox__input:checked + .checkbox__lable::before  {
    background-color: rgb(35, 255, 27); 
    transform: rotate(-45deg);
}
.checkbox__lable {
    display:  inline-flex;
    column-gap: 10px;
    cursor: pointer;
    align-items: center;
}
.checkbox__lable::before {
    align-self: flex-start;
    flex:  0 0 20px;
    height: 20px;
    content: "";
    background-color: #fff;
    border-radius: 5px;
}
.radiobuttons {
    position: relative;
}
.radiobuttons__item {
    position: relative;
}
.radiobuttons__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.radiobuttons__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.radiobuttons__input:focus + .radiobuttons__lable::before {
    box-shadow: 0 0 10px rgb(119, 247, 60);
}
.radiobuttons__input:checked + .radiobuttons__lable::after {
    transform: scale(1);    
}
.radiobuttons__lable {
    display:  inline-flex;
    column-gap: 10px;
    cursor: pointer;
    align-items: center;
    position: relative;
}
.radiobuttons__lable::before {
    align-self: flex-start;
    flex:  0 0 20px;
    height: 20px;
    content: "";
    background-color: #fff;
    border-radius: 50%;
}
.radiobuttons__lable::after {
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background-color: rgb(255, 0, 0);
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.file {
    position: relative;
}
.file__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 0;
}
.file__lable {
    background-color: rgb(119, 247, 60);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.form__textarea {
    width: 100%;
    height: 180px;
    padding: 15px;
    resize: vertical;

}
.form__select {
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    background-color: rgb(119, 247, 60);
}


.form__input_ph:focus::placeholder {
   transform: translate(-100%, 0px);
}

.form__input_ph::placeholder {
    color: red;
}
.form__input_ph {
    padding: 5px;
}





.switcher {
    position: relative;
}
.switcher__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; 
}
.switcher__input:focus + .switcher__lable {
    outline: 1px solid rgb(255, 0, 0);   
}
.switcher__input:checked + .switcher__lable {
    background-color: rgb(35, 255, 27); 
}
.switcher__input:checked + .switcher__lable::before  {
    background-color: rgb(35, 255, 27); 
    transform: translate(-100%, -50%);
    left: 100%;
}
.switcher__lable {
    position: relative;
    display:  inline-block;
    cursor: pointer;
    background-color: #fff;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}
.switcher__lable::before {
    cursor: pointer;
    height: 25px;
    width: 25px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1.3);
    transition: all 0.3s ease 0s;
}




