*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 20px; /* по умолчанию */
}
body {    
	line-height: 1;
	font-family: "Roboto"; 	    
}
.wrapper {    
    min-height: 100%; 
    background: url(../img/road.png) 50% 100% / cover no-repeat;   
    overflow: hidden;
}

.auto__container {    
    min-width: 1500px;
    position: relative; 
    animation-name: moove;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse; 
    animation-delay: 2s;
}

.auto__container:hover {
    animation-play-state: paused;
}
.auto__container:hover .car-wheel__first {
    animation-play-state: paused;
}
.auto__container:hover .car-wheel__second {
    animation-play-state: paused;
}
.machine-body__front {
    display: inline-block;
    background: url(../img/CAR/front-wing.png);
    font-size: 0px;
    position: absolute;
    left: 33px;
    top: 159px;
    width: 324px;
    height: 207px;
    z-index: 2;
}
.machine-body__door {
    display: inline-block;
    background: url(../img/CAR/Doors.png);
    font-size: 0px;
    position: absolute;
    left: 357px;
    top: 159px;
    width: 655px;
    height: 207px;
    z-index: 2;
}
.machine-body__back {
    display: inline-block;
    background: url(../img/CAR/Back.png);
    font-size: 0px;
    position: absolute;
    left: 1012px;
    top: 102px;
    width: 188px;
    height: 264px;
    z-index: 2;
}
.machine-body__hight {
    display: inline-block;
    background: url(../img/CAR/hight.png);
    position: absolute;
    font-size: 0px;
    left: 357px;
    top: 51px;
    width: 655px;
    height: 108px;
    z-index: 2;
}

.shadows-bliks__door {
    display: inline-block;
    background: url(../img/CAR/door-blik.png);
    position: absolute;
    left: 368px;
    top: 240px;
    width: 469px;
    height: 96px;
    z-index: 3;
}
.shadows-bliks__frist-door {
    display: inline-block;
    background: url(../img/CAR/first-door-shadow.png);
    position: absolute;
    left: 322px;
    top: 202px;
    width: 253px;
    height: 16px;
    z-index: 3;
}
.shadows-bliks__second-door {
    display: inline-block;
    background: url(../img/CAR/second-door-shadow.png);
    position: absolute;
    left: 660px;
    top: 183px;
    width: 174px;
    height: 11px;
    z-index: 3;
}
.shadows-bliks__door-blik {
    display: inline-block;
    background: url(../img/CAR/Door-blik-light.png);
    position: absolute;
    left: 402px;
    top: 230px;
    width: 301px;
    height: 35px;
    z-index: 3;
}
.shadows-bliks__back-blik {
    display: inline-block;
    background: url(../img/CAR/back-blik.png);
    position: absolute;
    left: 924px;
    top: 104px;
    width: 228px;
    height: 55px;
    z-index: 3;
}
.shadows-bliks__front-light {
    display: inline-block;
    background: url(../img/CAR/front-light.png);
    position: absolute;
    left: 51px;
    top: 205px;
    width: 122px;
    height: 51px;
    z-index: 3;
}
.shadows-bliks__back-light {
    display: inline-block;
    background: url(../img/CAR/front-light.png);
    position: absolute;
    left: 51px;
    top: 205px;
    width: 122px;
    height: 51px;
    z-index: 3;
}

.shadows-bliks__front-light {
    display: inline-block;
    background: url(../img/CAR/Back-light.png);
    position: absolute;
    left: 1070px;
    top: 168px;
    width: 109px;
    height: 35px;
    z-index: 3;
}

.shadows-bliks__back-divider {
    display: inline-block;
    background: url(../img/CAR/back-light-devider.png);
    position: absolute;
    left: 1070px;
    top: 175px;
    width: 79px;
    height: 13px;
    z-index: 4;
}
.shadows-bliks__front-divider {
    display: inline-block;
    background: url(../img/CAR/light-divider.png);
    position: absolute;
    left: 53px;
    top: 217px;
    width: 74px;
    height: 33px;
    z-index: 4;
}
.shadows-bliks__front-radiator {
    display: inline-block;
    background: url(../img/CAR/first-front-bumper.png);
    position: absolute;
    left: 42px;
    top: 261px;
    width: 53px;
    height: 76px;
    z-index: 3;
}
.shadows-bliks__back-radiator {
    display: inline-block;
    background: url(../img/CAR/front-bamper.png);
    position: absolute;
    left: 42px;
    top: 252px;
    width: 98px;
    height: 90px;
    z-index: 4;
}



.glass__back {
    display: inline-block;
    background: url(../img/CAR/Back-glass.png);
    position: absolute;
    left: 922px;
    top: 71px;
    width: 158px;
    height: 59px;
    z-index: 5;
}
.front__shadow {
    display: inline-block;
    background: url(../img/CAR/front-shadow.png);
    position: absolute;
    left: 365px;
    top: 63px;
    width: 339px;
    height: 103px;
    z-index: 5;
}
.hood__blik {
    display: inline-block;
    background: url(../img/CAR/hood-blik.png);
    position: absolute;
    left: 147px;
    top: 162px;
    width: 251px;
    height: 31px;
    z-index: 5;
}
.roof__blik {
    display: inline-block;
    background: url(../img/CAR/roof-blik.png);
    position: absolute;
    left: 530px;
    top: 52px;
    width: 152px;
    height: 19px;
    z-index: 5;
}
.under-glass_blik {
    display: inline-block;
    background: url(../img/CAR/under-glass-blik.png);
    position: absolute;
    left: 459px;
    top: 157px;
    width: 421px;
    height: 27px;
    z-index: 5;
}
.glass-rim {
    display: inline-block;
    background: url(../img/CAR/glass-border.png);
    position: absolute;
    left: 350px;
    top: 61px;
    width: 582px;
    height: 113px;
    z-index: 6;
}
.glass__corner {
    display: inline-block;
    background: url(../img/CAR/corner.png);
    position: absolute;
    left: 384px;
    top: 142px;
    width: 36px;
    height: 26px;
    z-index: 8;
}

.glass__first {
    display: inline-block;
    background: url(../img/CAR/first-glass.png);
    position: absolute;
    left: 425px;
    top: 68px;
    width: 238px;
    height: 104px;
    z-index: 1;
}

.mister-bin {
    display: inline-block;
    background: url(../img/CAR/bin.png);
    position: absolute;
    left: 425px;
    top: 68px;
    width: 238px;
    height: 104px;
    z-index: 0;
}
.auto__container:hover .glass__first {
    animation-name: glass-down;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.glass__second {
    display: inline-block;
    background: url(../img/CAR/second-glass.png);
    position: absolute;
    left: 685px;
    top: 66px;
    width: 157px;
    height: 92px;
    z-index: 7;
}
.glass__third {
    display: inline-block;
    background: url(../img/CAR/third-glass.png);
    position: absolute;
    left: 842px;
    top: 83px;
    width: 62px;
    height: 68px;
    z-index: 7;
}
.corner__back {
    display: inline-block;
    background: url(../img/CAR/glass-shadow.png);
    position: absolute;
    left: 895px;
    top: 110px;
    width: 17px;
    height: 26px;
    z-index: 7;
}
.central__rim {
    display: inline-block;
    background: url(../img/CAR/glass-rack-second.png);
    position: absolute;
    left: 838px;
    top: 80px;
    width: 10px;
    height: 72px;
    z-index: 8;
}
.central__rim-wide {
    display: inline-block;
    background: url(../img/CAR/glass-rack.png);
    position: absolute;
    left: 642px;
    top: 66px;
    width: 52px;
    height: 96px;
    z-index: 8;
}

.glass__fifth-blik {
    display: inline-block;
    background: url(../img/CAR/fifth-glass-blik.png);
    position: absolute;
    left: 693px;
    top: 66px;
    width: 76px;
    height: 90px;
    z-index: 8;
}
.glass__sixth-blik {
    display: inline-block;
    background: url(../img/CAR/sixth-glass-blik.png);
    position: absolute;
    left: 773px;
    top: 70px;
    width: 64px;
    height: 83px;
    z-index: 8;
}
.front__rim {
    display: inline-block;
    background: url(../img/CAR/front-rim.png);
    position: absolute;
    left: 63px;
    top: 212px;
    width: 290px;
    height: 154px;
    z-index: 4;
}
.back__rim {
    display: inline-block;
    background: url(../img/CAR/back-rim.png);
    position: absolute;
    left: 343px;
    top: 211px;
    width: 713px;
    height: 150px;
    z-index: 4; 
}
.front__corner {
    display: inline-block;
    background: url(../img/CAR/front-down-rim.png);
    position: absolute;
    left: 71px;
    top: 336px;
    width: 76px;
    height: 21px;
    z-index: 4;
}
.back__middle-rim {
    display: inline-block;
    background: url(../img/CAR/back-down-blik-second.png);
    position: absolute;
    left: 1039px;
    top: 270px;
    width: 129px;
    height: 76px;
    z-index: 5;
}

.back__last-rim {
    display: inline-block;
    background: url(../img/CAR/back-down-blik.png);
    position: absolute;
    left: 1038px;
    top: 204px;
    width: 124px;
    height: 128px;
    z-index: 5;
}
.wheel__left-back {
    display: inline-block;
    background: url(../img/CAR/first-wheel-back.png);
    position: absolute;
    left: 149px;
    top: 229px;
    width: 198px;
    height: 132px;
    z-index: 4;
}
.wheel__right-back {
    display: inline-block;
    background: url(../img/CAR/second-wheel-back.png);
    position: absolute;
    left: 849px;
    top: 226px;
    width: 198px;
    height: 127px;
    z-index: 5;
}
.car-wheel__first {
    display: inline-block;
    background: url(../img/CAR/wheel.png);
    position: absolute;
    left: 165px;
    top: 241px;
    width: 162px;
    height: 162px;
    z-index: 7;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.car-wheel__second {
    display: inline-block;
    background: url(../img/CAR/wheel.png);
    position: absolute;
    left: 868px;
    top: 241px;
    width: 162px;
    height: 162px;
    z-index: 7;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;


}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }
@keyframes moove {
    0% {
        transform: translate(-1300px, 310px);
    }
    
    100% {
        transform: translate(1300px, 310px);
    }
  }
@keyframes glass-down {
    0% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(110px);
    }
  }
  








.car-wheel {

}


.mirror__handle {
    display: inline-block;
    background: url(../img/CAR/mirror-handle.png);
    position: absolute;
    left: 405px;
    top: 163px;
    width: 43px;
    height: 29px;
    z-index: 8;
}
.mirror__rim {
    display: inline-block;
    background: url(../img/CAR/rim-mirror.png);
    position: absolute;
    left: 406px;
    top: 144px;
    width: 43px;
    height: 30px;
    z-index: 9;
}
.car__handle-front {
    display: inline-block;
    background: url(../img/CAR/handle.png);
    position: absolute;
    left: 553px;
    top: 188px;
    width: 60px;
    height: 14px;
    z-index: 9;
}
.car__handle-back {
    display: inline-block;
    background: url(../img/CAR/handle.png);
    position: absolute;
    left: 775px;
    top: 188px;
    width: 60px;
    height: 14px;
    z-index: 9;
}









